<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eedu.diagnosis.paper.persist.dao.DiagnosisComplexPaperRelationMapper" >
  <resultMap id="BaseResultMap" type="com.eedu.diagnosis.paper.persist.po.DiagnosisComplexPaperRelation" >
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="complex_paper_code" property="complexPaperCode" jdbcType="VARCHAR" />
    <result column="diagnosis_paper_code" property="diagnosisPaperCode" jdbcType="VARCHAR" />
    <result column="diagnosis_paper_name" property="diagnosisPaperName" jdbcType="VARCHAR" />
    <result column="subject_code" property="subjectCode" jdbcType="INTEGER" />
    <result column="arts_type" property="artsType" jdbcType="INTEGER" />
    <result column="total_score" property="totalScore" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    code, complex_paper_code, diagnosis_paper_code, diagnosis_paper_name, subject_code,arts_type,total_score
  </sql>
  <select id="DiagnosisComplexPaperRelation_getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from diagnosis_complex_paper_relation
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="DiagnosisComplexPaperRelation_deleteById" parameterType="java.lang.String" >
    delete from diagnosis_complex_paper_relation
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="DiagnosisComplexPaperRelation_save" parameterType="com.eedu.diagnosis.paper.persist.po.DiagnosisComplexPaperRelation" >
    insert into diagnosis_complex_paper_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="complexPaperCode != null" >
        complex_paper_code,
      </if>
      <if test="diagnosisPaperCode != null" >
        diagnosis_paper_code,
      </if>
      <if test="diagnosisPaperName != null" >
        diagnosis_paper_name,
      </if>
      <if test="subjectCode != null" >
        subject_code,
      </if>
      <if test="artsType != null" >
        arts_type,
      </if>
      <if test="totalScore != null" >
        total_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="complexPaperCode != null" >
        #{complexPaperCode,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisPaperCode != null" >
        #{diagnosisPaperCode,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisPaperName != null" >
        #{diagnosisPaperName,jdbcType=VARCHAR},
      </if>
      <if test="subjectCode != null" >
        #{subjectCode,jdbcType=INTEGER},
      </if>
      <if test="artsType != null" >
        #{artsType,jdbcType=INTEGER},
      </if>
      <if test="totalScore != null" >
        #{totalScore,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="DiagnosisComplexPaperRelation_update" parameterType="com.eedu.diagnosis.paper.persist.po.DiagnosisComplexPaperRelation" >
    update diagnosis_complex_paper_relation
    <set >
      <if test="complexPaperCode != null" >
        complex_paper_code = #{complexPaperCode,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisPaperCode != null" >
        diagnosis_paper_code = #{diagnosisPaperCode,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisPaperName != null" >
        diagnosis_paper_name = #{diagnosisPaperName,jdbcType=VARCHAR},
      </if>
      <if test="subjectCode != null" >
        subject_code = #{subjectCode,jdbcType=INTEGER},
      </if>
      <if test="artsType != null" >
        arts_type = #{artsType,jdbcType=INTEGER},
      </if>
      <if test="totalScore != null" >
        total_score = #{totalScore,jdbcType=DOUBLE},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  
  <sql id="DiagnosisComplexPaperRelation_where_sql">
      <if test="code != null" >
      and  code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="complexPaperCode != null" >
      and  complex_paper_code = #{complexPaperCode,jdbcType=VARCHAR}
      </if>
      <if test="diagnosisPaperCode != null" >
      and  diagnosis_paper_code = #{diagnosisPaperCode,jdbcType=VARCHAR}
      </if>
      <if test="diagnosisPaperName != null" >
      and  diagnosis_paper_name = #{diagnosisPaperName,jdbcType=VARCHAR}
      </if>
      <if test="subjectCode != null" >
      and  subject_code = #{subjectCode,jdbcType=INTEGER}
      </if>
      <if test="artsType != null" >
        and arts_type = #{artsType,jdbcType=INTEGER}
      </if>
      <if test="totalScore != null" >
        and total_score = #{totalScore,jdbcType=DOUBLE}
      </if>
  </sql>

  <!-- list<code> 查询 -->
  <select id="DiagnosisComplexPaperRelation_batch_listByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    SELECT
    <include refid="Base_Column_List"/>
    FROM diagnosis_complex_paper_relation
    <if test="list.size() > 0">
      where code in
      <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    ORDER BY create_time DESC
  </select>
  <!-- 普通分页 -->
  <select id="DiagnosisComplexPaperRelation_findByParameter" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM diagnosis_complex_paper_relation
    <where>
      <include refid="DiagnosisComplexPaperRelation_where_sql"/>
    </where>
    <if test="orderProperty != null">
      order by ${orderProperty} ${orderDirection}
    </if>
  </select>
   
   <delete id="DiagnosisComplexPaperRelation_batch_deleteById" parameterType="java.util.List">
    DELETE FROM diagnosis_complex_paper_relation
    <if test="list.size() > 0">
      where code in
      <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </delete>
   <select id="DiagnosisComplexPaperRelation_getAll" resultMap="BaseResultMap">
    SELECT
   <include refid="Base_Column_List"/>
    FROM diagnosis_complex_paper_relation 
  </select>
</mapper>