<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eedu.auth.dao.AuthUserWeChatBindDao" >
  <resultMap id="BaseResultMap" type="com.eedu.auth.beans.AuthUserWeChatBindBean" >
    <id column="user_wechat_bind_id" property="userWechatBindId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
    <result column="privilege" property="privilege" jdbcType="VARCHAR" />
    <result column="union_id" property="unionId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    
    
  </resultMap>
  <sql id="Base_Column_List" >
    user_wechat_bind_id, open_id, user_id, nick_name, sex, province, city, country, head_img_url, 
    privilege, union_id, create_date, update_date,type
  </sql>
  
  
  <select id="getUserWeChatBind" resultMap="BaseResultMap" parameterType="com.eedu.auth.beans.AuthUserWeChatBindBean" >
    select 
    <include refid="Base_Column_List" />
    from auth_user_wechat_bind
    <where>
       <include refid="UserWeChatBind_where_sql"/>
    </where>
  </select>
  
  
  <insert id="addUserWeChatBind" parameterType="com.eedu.auth.beans.AuthUserWeChatBindBean" >
    insert into auth_user_wechat_bind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userWechatBindId != null" >
        user_wechat_bind_id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="headImgUrl != null" >
        head_img_url,
      </if>
      <if test="privilege != null" >
        privilege,
      </if>
      <if test="unionId != null" >
        union_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="type != null" >
        type,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userWechatBindId != null" >
        #{userWechatBindId,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="privilege != null" >
        #{privilege,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
       <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
        <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateUserWeChatBind" parameterType="com.eedu.auth.beans.AuthUserWeChatBindBean" >
    update auth_user_wechat_bind
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="privilege != null" >
        privilege = #{privilege,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        union_id = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type =  #{type,jdbcType=INTEGER},
      </if>
    </set>
    where user_wechat_bind_id = #{userWechatBindId,jdbcType=INTEGER}
  </update>
  
   <sql id="UserWeChatBind_where_sql">
      <if test="userWechatBindId != null" >
           and user_wechat_bind_id = #{userWechatBindId,jdbcType=INTEGER}
      </if>
      <if test="openId != null" >
           and open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="userId != null" >
           and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="type != null" >
           and type =  #{type,jdbcType=INTEGER}
      </if>
   </sql>
   

   
  
</mapper>