<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://code.alibabatech.com/schema/dubbo
	   http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系-->
    <dubbo:application name="diagnosis-system-manager"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <!-- 公网 211.157.179.215:2181 -->
    <!-- <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" /> -->
    <!-- 私服-->
    <dubbo:registry protocol="zookeeper" address="${zookeeper_address}"/>

    <!-- 声明需要消费的接口-->
    <dubbo:reference id="diagnosisClassRelationOpenService"
                     interface="com.eedu.diagnosis.exam.api.openService.DiagnosisClassRelationOpenService"
                     check="false" timeout="60000" version="${duboo.interface.version}" />
    <dubbo:reference id="diagnosisRecordStudentOpenService"
                     interface="com.eedu.diagnosis.exam.api.openService.DiagnosisRecordStudentOpenService"
                     check="false" timeout="60000" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisStudentAnswerRecordOpenService"
                     interface="com.eedu.diagnosis.exam.api.openService.DiagnosisStudentAnswerRecordOpenService"
                     check="false" timeout="60000" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisRecordTeacherOpenService"
                     interface="com.eedu.diagnosis.exam.api.openService.DiagnosisRecordTeacherOpenService"
                     check="false" timeout="60000" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisWrongQuestionOpenService"
                     interface="com.eedu.diagnosis.exam.api.openService.DiagnosisWrongQuestionOpenService"
                     check="false" timeout="60000" version="${duboo.interface.version}"/>
    <dubbo:reference id="markQuestionRecordOpenService"
                     interface="com.eedu.diagnosis.exam.api.openService.MarkQuestionRecordOpenService"
                     check="false" timeout="60000" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisUnitScheduleOpenService"
                     interface="com.eedu.diagnosis.exam.api.openService.DiagnosisUnitScheduleOpenService"
                     check="false" timeout="60000" version="${duboo.interface.version}"/>
    <!-- 试卷 -->
    <dubbo:reference id="basePaperOpenService"
                     interface="com.eedu.diagnosis.paper.api.openService.BasePaperOpenService"
                     check="false" timeout="60000" version="${duboo.interface.version}"/>
    <dubbo:reference id="resourceOpenService"
                     interface="com.eedu.diagnosis.paper.api.openService.ResourceOpenService"
                     check="false" timeout="60000"   version="${duboo.interface.version}" />


    <!--报告服务-->

    <dubbo:reference id="b2bReportOpenService" check="false" timeout="600000"
                     interface="com.eeduspace.b2b.report.service.B2BReportOpenService" version="${duboo.interface.version}"/>
    <dubbo:reference id="teacherReportOpenService" check="false" timeout="600000"
                     interface="com.eeduspace.b2b.report.service.TeacherReportOpenService" version="${duboo.interface.version}"/>
    <dubbo:reference id="generalReportOpenService" check="false" timeout="600000"
                     interface="com.eeduspace.b2b.report.service.GeneralReportOpenService" version="${duboo.interface.version}"/>

    <dubbo:reference id="principalSingleReportOpenService" check="false" timeout="600000"
                     interface="com.eeduspace.b2b.report.service.PrincipalSingleReportOpenService" version="${duboo.interface.version}"/>

    <dubbo:reference id="researchReportOpenService" check="false" timeout="600000"
                     interface="com.eeduspace.b2b.report.service.ResearchReportOpenService" version="${duboo.interface.version}"/>
    <dubbo:reference id="stageTestReportOpenService" check="false" timeout="600000"
                     interface="com.eeduspace.b2b.report.service.StageTestReportOpenService" version="${duboo.interface.version}"/>

    <dubbo:reference id="systemManagerOperationLogOpenService" check="false" timeout="600000"
                     interface="com.eeduspace.b2b.report.service.SystemManagerOperationLogOpenService" version="${duboo.interface.version}"/>

    <!-- auth -->
    <dubbo:reference id="authUserAuthorityManagerService" check="false" timeout="60000"
                     interface="com.eedu.auth.service.AuthUserAuthorityManagerService" version="${duboo.interface.version}"/>
    <dubbo:reference id="areaService" check="false" timeout="60000"
                     interface="com.eedu.auth.service.AuthAreaService" version="${duboo.interface.version}"/>
    <dubbo:reference id="groupService" check="false" timeout="60000"
                     interface="com.eedu.auth.service.AuthGroupService" version="${duboo.interface.version}"/>
    <dubbo:reference id="resourceService" check="false" timeout="60000"
                     interface="com.eedu.auth.service.AuthResourceService" version="${duboo.interface.version}"/>
    <dubbo:reference id="roleService" check="false" timeout="60000"
                     interface="com.eedu.auth.service.AuthRoleService" version="${duboo.interface.version}"/>
    <dubbo:reference id="userGroupBindService" check="false" timeout="60000"
                     interface="com.eedu.auth.service.AuthUserGroupBindService" version="${duboo.interface.version}"/>
    <dubbo:reference id="userService" check="false" timeout="60000"
                     interface="com.eedu.auth.service.AuthUserService" version="${duboo.interface.version}"/>
    <dubbo:reference id="userManagerService" check="false" timeout="60000"
                     interface="com.eedu.auth.service.AuthUserManagerService" version="${duboo.interface.version}"/>
    <dubbo:reference id="dataDictionaryService" check="false" timeout="60000"
                     interface="com.eedu.auth.service.AuthDataDictionaryService" version="${duboo.interface.version}"/>
    <dubbo:reference id="authUserWeChatBindService" check="false" timeout="60000"
					 interface="com.eedu.auth.service.AuthUserWeChatBindService" version="${duboo.interface.version}"/>
    <dubbo:reference id="baseSchoolService" check="false" timeout="60000"
                     interface="com.evaluate.base.data.api.service.BaseSchoolService" version="${base.data.version}"/>
    <dubbo:reference id="baseAreaService" check="false" timeout="60000"
                     interface="com.evaluate.base.data.api.service.BaseAreaService" version="${base.data.version}"/>
    <!--dubbo课中测-->
    <dubbo:reference id="diagnosisBaseQuestionService" check="false" timeout="60000"
                     interface="com.eedu.diagnosis.inclass.test.api.service.DiagnosisBaseQuestionService" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisInClassRelationService" check="false" timeout="60000"
                     interface="com.eedu.diagnosis.inclass.test.api.service.DiagnosisInClassRelationService" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisInClassTestService" check="false" timeout="60000"
                     interface="com.eedu.diagnosis.inclass.test.api.service.DiagnosisInClassTestService" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisQuestionBankService" check="false" timeout="60000"
                     interface="com.eedu.diagnosis.inclass.test.api.service.DiagnosisQuestionBankService" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisStudentAnswerSheetService" check="false" timeout="60000"
                     interface="com.eedu.diagnosis.inclass.test.api.service.DiagnosisStudentAnswerSheetService" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisStudentAnswerMachineService" check="false" timeout="60000"
                     interface="com.eedu.diagnosis.inclass.test.api.service.DiagnosisStudentAnswerMachineService" version="${duboo.interface.version}"/>
    <dubbo:reference id="diagnosisStudentAnswerRankingService" check="false" timeout="60000"
                     interface="com.eedu.diagnosis.inclass.test.api.service.DiagnosisStudentAnswerRankingService" version="${duboo.interface.version}"/>




</beans>

